<% content_for :flash do %>
  <%= erb :'shared/flash.html', :locals => { :flash => { :error => '404 Not Found' } } %>
<% end %>

<!-- Header Site Title -->
<header class="page-header">
  <h1 class="site-title">
    <a href="/">
      Bideo Wego
    </a>
  </h1>
</header>

<div class="nav-container">

  <div class="row">
    <div class="col-xs-12 col-sm-4">
      
      <!-- Nav Left -->
      <ul class="nav nav-stacked">
        <li>
          <a href="/blog">Blog</a>
        </li>
        <li>
          <a href="/games">Games</a>
        </li>
      </ul>

    </div>
    <div class="col-xs-12 col-sm-4">
      
      <!-- Center Image Logo -->
      <div class="image-container">
        <img class="img-responsive" src="https://s3.amazonaws.com/bw.bideowego/images/bw.png" alt="Logo">
      </div>

    </div>
    <div class="col-xs-12 col-sm-4">
      
      <!-- Nav Right -->
      <ul class="nav nav-stacked">
        <li>
          <a href="/projects">Projects</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
      </ul>
      
    </div>
  </div>
  
  <!-- Tag Line -->
  <div class="tag-line">
    <h2>
      Programmatic creativity that is always developing
    </h2>
  </div>
</div>