<!-- Header Site Title -->
<header class="page-header">
  <h1 class="site-title">
    <a href="/games/games-show">
      Game Show
    </a>
  </h1>
</header>

<!-- Game -->
<div class="game row text-dark">
  <div class="col-xs-10 col-xs-offset-1 well">
    
    
    <div style="width: 800px; height: 600px; border: 1px solid #000; margin: 0 auto;"></div>
    <br>

    <article>
      <p>This is about the game</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, qui. Unde eos quae doloribus quasi, dolorum earum dolores! Impedit quam rem optio nisi nostrum voluptatem dolorum tempore fuga consequatur quisquam!</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint architecto sed voluptatibus, aliquam ipsum nisi dolor recusandae nihil magni quis enim. Quasi similique quae neque accusamus! Nemo quos nulla earum.</p>
      
    </article>

  </div>
</div><!-- game row -->


