<!-- Header Site Title -->
<header class="page-header">
  <h1 class="site-title">
    <a href="/projects/projects-show">
      Project Show
    </a>
  </h1>
</header>

<!-- Project -->
<div class="project row text-dark">
  <div class="col-xs-10 col-xs-offset-1 well">
    
    <img src="https://s3.amazonaws.com/bw.bideowego/images/audio.png" alt="Image" class="img-responsive center-block">
    <br>

    <article>
      <p>This is a project</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus similique ad nihil mollitia explicabo sequi dolorem tempore, eum omnis magni est aliquid cum perspiciatis amet nam laboriosam ab quibusdam neque.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis praesentium neque accusantium ipsa rem at error vitae esse consectetur voluptate facilis, fugiat temporibus facere velit ea, perspiciatis harum, eaque aut.</p>
    </article>


  </div>
</div><!-- game row -->




