<!-- Header Site Title -->
<header class="page-header">
  <h1 class="site-title">
    <a href="/about">
      About
    </a>
  </h1>
</header>

<!-- About Details -->
<div class="about-details row well text-dark">
  <div class="col-xs-12">
    

    <img src="https://s3.amazonaws.com/bw.bideowego/images/bideowego-banner-2.jpg" alt="Image" class="img-responsive img-rounded">
    <br>

    <article>
      <p>
        I'm Bideo Wego.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium eveniet, voluptatum beatae nesciunt vel ut recusandae excepturi, ullam rerum libero et dolorum laborum minima! Laudantium repellat saepe eveniet provident ratione?
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit esse delectus nulla nostrum. Commodi, ducimus error excepturi incidunt est iste doloribus suscipit et consequatur mollitia obcaecati ipsa voluptate at rerum.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto quas eveniet aspernatur sequi sapiente reprehenderit molestiae laborum, adipisci dolore autem est praesentium nobis odit incidunt ipsum tempore, ullam rerum ab.
      </p>

      <p>Contact me at: <a href="mailto:bideowego@gmail.com">bideowego@gmail.com</a></p>
    </article>

  </div>
</div><!-- about-details -->


